.addborder {
	BORDER-RIGHT: #97203C 1px solid; BORDER-TOP: #97203C 1px solid; BORDER-LEFT: #97203C 1px solid; BORDER-BOTTOM: #97203C 1px solid
}
.addbordertop {
	BORDER-TOP: #97203C 1px solid
}
.addborderbottom {
	BORDER-BOTTOM: #97203C 1px solid
}
.addborderleft {
	BORDER-LEFT: #97203C 1px solid
}
.addborderright {
	BORDER-RIGHT: #97203C 1px solid
}

input[type="text"], input[type="password"], textarea, select { 
    border:1px solid gray;
}
H3 {
	text-align: center;
    font-weight: bold;
    font-size: larger;
    font-family: 'Nunito', sans-serif;
    color: #0000A0;
}

H4 {
	text-align: center;
    font-weight: bold;
    font-size: medium;
    font-family: 'Nunito', sans-serif;
    color: #0000A0;
}

div.ui-datepicker, .ui-datepicker td{
 font-size:10px;
}

/* Home page slide show styles */
.slideshow-container {
    color: #000;
    margin: 20px auto;
    position: relative;
    width: 900px;
}

#slideshow {
    border:1px #000 solid;
    box-shadow:4px 6px 6px #444444;
    display:block;
    margin:0 auto;
    height:500px;
    width:900px;
}

.slideshow-container .slides {
    display:none;
}
/* Table DIV */
.table    {
        display: table;
        width: 100%;
    }
    .table-title    {
        display: table-caption;
        text-align: center;
        font-weight: bold;
        font-size: larger;
    }
    .heading    {
        display: table-row;
        font-weight: bold;
        text-align: center;
    }
    .row    {
        display: table-row;
    }
    .cell    {
        display: table-cell;
        /*border: 1px solid #97203C;*/
        border-width: thin;
        padding-left: 5px;
        padding-right: 5px;
    }    
    .table-label {
	text-align: left;	
	color: #000;
	font:12px verdana, sans-serif, arial ;
	background: #C5C5C5;
	font-weight: bold;	
	width:120px;
	}
	
	.table-data {
	text-align: center;
	margin:5px;
	
	color: #000;
	font:12px verdana, sans-serif, arial ;
	background: #DEDEDE;	
	width:120px;
	}
	
	.colspan {
    position: absolute;
    width: 98%;     
    background: #97203C;
    height: 5px;
	}
   /* End DIV table */


.search-form {
  /*background: rgba(6, 41, 61, 1);*/
  border: 0px solid ;
  border-radius: 1px;
  width: 100%;
  height: 45px; 
}
.search-form-input {
  padding: 5px;
  margin:5px;
  min-width: 50px;
  height: 17px;
  border-radius: 2px;
  border: 1px solid gray;
  font-family: 'Nunito', sans-serif;
  font-weight: normal;
  background: #fff;
  width: 120px;
  vertical-align: middle;
}

.search-form-group {
  padding: 10px 10px 10px 20px;
}

.select-form-input {
  padding: 5px;
  margin:5px;
  min-width: 50px;
  height: 30px;
  border-radius: 2px;
  border: 1px solid gray;
  font-family: 'Nunito', sans-serif;
  font-weight: normal;
  background: #fff;
  width: 130px;
  vertical-align: middle;
}

label {
	text-align: left;
	color: #000;
	font:12px verdana, sans-serif, arial ;
}

#footer {
    position : absolute;
    bottom : -260px;
    width:100%;
    height:0px; 
    color: #0000A0;
    font-size: small;
    font-family: 'Nunito', sans-serif;
    
  }
  
/* Login page style */
body {
  /*background: rgba(6, 41, 61, 1);*/
/*  background: #ECE3ED;*/
/*  background: #cff6ea ;*/  
  background: #FFEDBF ;  
 
  
}

.error {
	color: #FF0000;
	text-align: center;
}
.container {
  width: 100%;
  height: 100%;
}

.form-container {
  display: block;
  margin: 0 auto;
  margin-top: 200px;
  width: 400px;
  perspective: 1000;
}

.login-form {
  background: rgba(0, 90, 120, 0.7);
  border: 4px solid rgba(0, 90, 120, 0.9);
  border-radius: 8px;
}

.title {
  background: rgba(0, 90, 120, 0.9);
  color: #fff;
  font-family: sans-serif;
  font-weight: normal;
  font-size: 1.5em;
  padding: 10px 10px 10px 20px;
  margin-top: 0;
  margin-bottom: 15px;
}

.form-input {
  padding: 5px;
  min-width: 50%;
  height: 20px;
  border-radius: 4px;
  border: none;
  font-family: 'Nunito', sans-serif;
  font-weight: normal;
}

textarea:focus, input:focus, button:focus {
    outline: 0;
}

.tooltip {
  width: 35%;
  background: rgba(6, 41, 61, 1);
  font-size: 0.8em;
  color: #fff;
  font-family: 'Nunito', sans-serif;
  font-weight: normal;
  margin-left: 10px;
  padding: 7px;
  border-radius: 5px;
}

.form-group {
  padding: 10px 10px 10px 20px;
}

.login-button {
  width: 100px;
  height: 30px;
  margin-bottom: 10px;
  
  border: none;
  border-radius: 4px;
  background-size: 500% 100%;
  background: rgba(6, 41, 61, 1);
  box-shadow: inset 0 0 0 0 rgba(20, 196, 148, 1);
	-webkit-transition: all ease 0.3s;
	-moz-transition: all ease 0.3s;
	transition: all ease 0.3s;
  
  color: #fff;
  font-family: 'Nunito', sans-serif;
  font-weight: 500;
  font-size: 0.8em;
}

.login-button:hover {
  box-shadow: inset 0 40px 0 0 rgba(20, 196, 148, 1);
  cursor: pointer;
}

.remember-checkbox {
  display: inline;
  position: relative;
  margin-left: 30px;
}

.remember-p {
  display: inline;
  position: relative;
  margin-left: 5px;
    color: #fff;
  font-family: 'Nunito', sans-serif;
  font-weight: 500;
  font-size: 0.8em;
}

.loading {
    background: rgba(0, 90, 120, 0.7);
  border: 4px solid rgba(0, 90, 120, 0.9);
  border-radius: 8px;
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.login-form,
.loading {
  position: absolute;
  width: 400px;
  height: 240px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: -webkit-transform 2s;
          transition: transform 2s;
}

.loading-spinner-large {
  margin-left: 130px;
  margin-top: 55px;
  font-size: 10px;
  position: fixed;
  text-align: center;
  display: none;
  border-top: 10px solid rgba(255, 255, 255, 0.2);
  border-right: 10px solid rgba(255, 255, 255, 0.2);
  border-bottom: 10px solid rgba(255, 255, 255, 0.2);
  border-left: 10px solid rgba(20, 196, 148, 1);
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: spin-clockwise 1.1s infinite linear;
  animation: spin-clockwise 1.1s infinite linear;
}
.loading-spinner-small {
  margin-left: 160px;
  margin-top: 85px;
  font-size: 10px;
  position: fixed;
  text-align: center;
  display: none;
  border-top: 10px solid rgba(255, 255, 255, 0.2);
  border-right: 10px solid rgba(255, 255, 255, 0.2);
  border-bottom: 10px solid rgba(255, 255, 255, 0.2);
  border-left: 10px solid rgba(20, 196, 148, 1);
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: spin-counter-clockwise 1.1s infinite linear;
  animation: spin-counter-clockwise 1.1s infinite linear;
}

.loading-spinner-large,
.loading-spinner-large:after {
  border-radius: 50%;
  width: 120px;
  height: 120px;
}

.loading-spinner-small,
.loading-spinner-small:after {
  border-radius: 50%;
  width: 60px;
  height: 60px;
}
@-webkit-keyframes spin-clockwise {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin-clockwise {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes spin-counter-clockwise {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
@keyframes spin-counter-clockwise {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
/* Login page END */
/* Auto Complete styles START */
.ui-autocomplete { position: absolute; cursor: default; background:#fff }   

/* workarounds */
html .ui-autocomplete { width:1px; } /* without this, the menu expands to 100% in IE6 */
.ui-menu {
    list-style:none;
    padding: 2px;
    margin: 0;
    display:block;
    float: left;
}
.ui-menu .ui-menu {
    margin-top: -3px;
}
.ui-menu .ui-menu-item {
    margin:0;
    padding: 0;
    zoom: 1;
    float: left;
    clear: left;
    width: 100%;
}
.ui-menu .ui-menu-item a {
    text-decoration:none;
    display:block;
    padding:.2em .4em;
    line-height:1.5;
    zoom:1;
    font:12px sans-serif, arial ;
}
.ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-active {    
    font:12px sans-serif, arial ;
    
    
}
/* Auto Complete styles END */
